<div class="container">
  
    <h1 class="titulo">Painel de Clientes</h1>
    <div  class="header_form mt-4">
        <h2 >Novo Cliente</h2>
        <p>Informe os campos a seguir para cadastrar um novo cliente:</p>
    </div>

    <form  [formGroup]="clienteForm" (submit)="submitForm()" style="width: 40%;" action="/pagina-processa-dados-do-form" method="post">
        <div >
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" formControlName="name" />
        </div>
        <div>
            <label for="profissao">Profissão:</label>
            <input class="form-control" type="profissao" id="email" formControlName="job" />
        </div>

        <div class="row mt-4">
            <div class="col-3 ">
              <button  class="btn_cadastrar">Cadastrar</button>
            </div>
            <div class="col-3 ml-5">
              <button class="btn_voltar" routerLink="/clientes" >Voltar</button>
            </div>
          </div>
   
    </form>
</div>