.header
   width: 1442px
   height: 107px
   background: #08436F

   .btn_new
      position: absolute
      right: 0
      margin-top: 33px
      margin-botton: 33px
      margin-left: 976px
      margin-right: 275px
      width: 201px
      height: 40.94px
      background: #F8FCFF
      border-radius: 9px

      
.a_logout
   position: absolute
   right: 0
   margin-top: 45px
   margin-botton: 43px
   margin-right: 185px
   margin-left: 29px
   font-style: normal
   font-weight: 400
   font-size: 16px
   font-style: normal
   cursor: pointer
  





.logo
  
   height: 70px
   width: 283px
   margin-top: 25px
   margin-botton: 12px
   margin-left: 169px
   margin-right: 990px
   border-radius: 0px

.header-right 
  float: right

