<div class="container">
  
    <h1 class="titulo">Painel de Clientes</h1>
  

  <div class="table-responsive">
    <table class="table " >
  
      <tbody>
        <tr >
          <td > <img  src="assets/image 4.png" alt="profile" ></td>
          <td>Michael Lawson</td>
          <td>michael.lawson@reqres.in
          </td>
          <td><button class="btnEditar">Editar</button></td>
        </tr>
        <tr>
          <td > <img  src="assets/image 4.png" alt="profile" ></td>
          <td>Michael Lawson</td>
          <td>michael.lawson@reqres.in
          </td>
          <td><button class="btnEditar">Editar</button></td>
        </tr>
        <tr>
          <td > <img  src="assets/image 4.png" alt="profile" ></td>
          <td>Michael Lawson</td>
          <td>michael.lawson@reqres.in
          </td>
          <td><button class="btnEditar">Editar</button></td>
        </tr>
  
      </tbody>
    </table>

  </div>
</div>



