<div class="container">
  
    <h1 class="titulo">Painel de Clientes</h1>
  

  <div class="table-responsive" >
    <table class="table " >
  
      <tbody>
        <tr *ngFor="let cliente of clientes" >
          <td > <img [attr.src]="cliente.avatar" alt="profile" ></td>
          <td>{{cliente.first_name}} {{cliente.last_name}}</td>
          <td>{{cliente.email}}
          </td>
          <td><button class="btnEditar">Editar</button></td>
        </tr>

    
  
      </tbody>
    </table>

  </div>
</div>



